@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  .active {
    @apply text-primary;
  }
}
 
.animatedRight {
  opacity: 0; /* Initially hidden */
  transform: translateX(100%); /* Start position at the bottom */
  animation: slideFromRight 1.5s ease forwards;
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(100%); /* Starting position */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Moves up to its final position */
  }
}

.animatedLeft {
  opacity: 0; /* Initially hidden */
  transform: translateY(100%); /* Start position at the bottom */
  animation: slideFromLeft 1.5s ease forwards;
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateY(100%); /* Starting position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Moves up to its final position */
  }
}
.contactUsBg{
  background-image: url("/contactUs.jpg");
  object-fit: cover;
   
}

.whatsAppCss{
  position: fixed;
   bottom: 0;
   right: 0;
   margin-bottom: 20px;
   margin-right: 20px;
 }
 .whatsAppCssSize{
   font-size: 60px !important;
 }
 @media(max-width:768px){

  .whatsAppCssSize{
    font-size: 40px !important;
  }
   
}

.header {
  position: fixed;
  
  width: 100%;
  background-color: #fff; /* Adjust background color as needed */
  transition: transform 0.3s ease-in-out;
  z-index: 1000; /* Ensure the header is above other content */
}

.header.hide {
  transform: translateY(-100%);
}